@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*

@model RackHackMVC.ViewModels.RackHackViewModel

*@

@{
    ViewData["Title"] = "Pool Ball Rack";
}


<h1>Pool Ball Rack</h1>


<div class="pool-ball-rack">

    @*
    @foreach (var ballNumber in Model.PoolBalls)
    {
        <img src="~/Images/@(ballNumber)_ball.jpg" alt="Pool Ball @ballNumber" />
    }
    *@

    <style>

        .wrapper{
        
        }

    .rack
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }


    .row
    {
        display: flex;
        justify-content: center;
        height: 50px;
    }


    .ball
    {
        width: 50px;
        height: 50px;
        /*background-color: #000;*/
        border-radius: 50%;
        margin: 5px;
        display: flex;
        /*gap: 10px;*/
    }

    .row:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
    }

    .row:nth-child(3) {
        margin-left: 40px;
        margin-right: 40px;
    }

    .row:nth-child(4) {
        margin-left: 60px;
        margin-right: 60px;
    }

    .row:nth-child(5)
    {
        margin-left: 80px;
        margin-right: 80px;
    }


</style>








    @* 8-ball *@
    
    <div class="wrapper8">

        @*first row*@
        <div class="row">

            <div class="ball">
                <img src="\Images\@Model.PoolBalls[0]_ball.jpg">
            </div>

        </div>



        @*second row*@
        <div class="row">

            <div class="ball">
                <img src="\Images\@Model.PoolBalls[1]_ball.jpg">
            </div>


            <div class="ball">
                <img src="\Images\@Model.PoolBalls[2]_ball.jpg">
            </div>
            
        
        </div>




        @*third row*@
        <div class="row">


            <div class="ball">
                <img src="\Images\@Model.PoolBalls[3]_ball.jpg">
            </div>


            <div class="ball">
                <img src="\Images\@Model.PoolBalls[4]_ball.jpg">
            </div>


            <div class="ball">
                <img src="\Images\@Model.PoolBalls[5]_ball.jpg">
            </div>


       
        </div>




        @*fourth row*@


        <div class="row">

            @*

            8-ball
            &
            10-ball
            
            *@


            @if (Model.EightBallRackHackClick || Model.EightBallRackHackDifferentWingsClick ||
            Model.TenBallRackHackClick || Model.TenBallRackHack2And3OnWingsClick)
            {


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[6]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[7]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[8]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[9]_ball.jpg">
                </div>

            }





            @if (Model.NineBallRackHackClick || Model.NineBallRackHack2AtBackClick 
            || Model.NineBallRackHack2ProhibitedFromBackClick)
            {
                <div class="ball">

                    <img src="\images\@Model.PoolBalls[6]_ball.jpg">

                </div>


                <div class="ball">

                    <img src="\images\@Model.PoolBalls[7]_ball.jpg">

                </div>
            }


        </div>






            @* fifth row *@
            <div class="row">



            @if (Model.EightBallRackHackClick || Model.EightBallRackHackDifferentWingsClick)
            {
                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[10]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[11]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[12]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[13]_ball.jpg">
                </div>


                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[14]_ball.jpg">
                </div>

            }

            


            @if (Model.NineBallRackHackClick || Model.NineBallRackHack2AtBackClick
            || Model.NineBallRackHack2ProhibitedFromBackClick)

            {
                <div class="ball">
                    <img src="\Images\@Model.PoolBalls[8]_ball.jpg">
                </div>
            }



            @if(Model.TenBallRackHackClick || Model.TenBallRackHack2And3OnWingsClick)
            {
                @*

                    The fifth row in 10-ball does not exist

                *@
            }


            </div>

    </div>








    <div>


        <form asp-controller="RackHack" asp-action="EightBallRackHack">

        <button type="submit"> 8-ball </button>

        </form>     

    </div>
    




    <div>

        <form asp-controller="RackHack" asp-action="EightBallRackHackDifferentWings">

            <button type="submit"> 8-ball with opposite groups on wings </button>

        </form>

    </div>






    <div>

        <form asp-controller="RackHack" asp-action="NineBallRackHack">

            <button type="submit"> 9-ball </button>

        </form>

    </div>
    
    
    
    <div>

        <form asp-controller="RackHack" asp-action="NineBallRackHack2AtBack">

            <button type="submit"> 9-ball. 2 must go at the back </button>

        </form>

    </div>





    <div>

        <form asp-controller="RackHack" asp-action="NineBallRackHack2ProhibitedFromBack">

            <button type="submit"> 9-ball. 2 is prohibited from the back  </button>

        </form>

    </div>


    <div>


        <form asp-controller="RackHack" asp-action="TenBallRackHack">

            <button type="submit"> 10-ball </button>

        </form>

    </div>



    <div>


        <form asp-controller="RackHack" asp-action="TenBallRackHack2And3OnWings">

            <button type="submit"> 10-ball. Put 2 & 3 on wings </button>

        </form>



        @*
        <img src="\Images\1_ball.jpg" alt="1 ball">
        *@



    </div>

</div>


